<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="https://cdn.pubnub.com/pubnub-3.7.21.js"></script>
    <script src="https://cdn.pubnub.com/sdk/pubnub-angular/pubnub-angular-3.2.1.js"></script>
    
</head>

<body ng-app="app">
    <div ng-controller="ChatCtrl">

        <form ng-submit="setUUID()">
            <input type="text" ng-model="userID" placeholder="Type your User ID" />
            <button type="submit">Set User ID</button>
        </form>

        <form ng-submit="sendMessage()">
            <input ng-model="messageContent" type="text" placeholder="Type your message" />
            <button type="submit">Send</button>
        </form>

        <h1 ng-model="numofPlayers">{{ numofPlayers }}</h1>

        <ul>
            <li ng-repeat="message in words track by $index">
                <span class="title">Anonymous robot #{{ message.sender_uuid }}{{ uuid }}</span>
                <p>{{ message }}</p>
            </li>
        </ul>
    </div>

    <script src="./scripts/controllers/main.js"></script>
</body>

</html>